body {
    font-family: serif;
    font-size: x-large;
    color: #a5a4a5;
    background-image: url("../画像/ルーレット透明背景.png"),url("../画像/街並み白背景.png");
    background-size: 200px;
}

.box3 {
    padding: 0.5em 1em;
    margin: 2em 0;
    background: #ffffffaf;/*背景色*/
}
.box3 h1 {
    color: #55d6c2;
    margin: 0; 
    padding: 0;
}
.box3 h3 {
    color: #a5a4a5;
    margin: 0; 
    padding: 0;
}

table,
td {
    border: 1px solid #55d6c2;
    background-color: #fdffff;
}

.btn {
    border-radius: 5px;
    background-color: rgb(180, 207, 214);
    padding: 10px;
    text-decoration: none;
    color: white;
}


/*RESTRANT*/

.btn1 {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    color: rgb(99, 207, 212);
}


/*SHOPPING*/

.btn2 {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    color: rgb(223, 221, 116);
}


/*CAFE*/

.btn3 {
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-decoration: none;
    color: rgb(126, 89, 40);
}
